@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;500;600;800&display=swap');

#IMG-co{
    width: 400PX;
}
/* Path: style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Changa', sans-serif;
}

.effectline:hover{
    border-radius: 10px;
    background-color: #4267B2;
    transition: 0.5s;
    font-size: 30px;

}

#HomeAbout {
    background-color: #212121;
    height: 86vh;
}

/* نتحكم بأيقونة بناف بار */
#Icon {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    height: 64px;
    width: 64px;
    border-radius: 30px;
}

li,
a {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 0 20px;
    transition: 0.5s;
}

#content {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
    
}

#IMG{
    width: 500PX;
}
#Title{
    text-align: center;
}

#Text{
    position: relative;
    top: 20vh;
}
/* نتحكم بناف بار */

#Navbar {
    background-color: #212121;
    height: 20vh;
    width: 100%;
    position: relative  ;
    display: flex;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    justify-content: center;
}

#Navbar nav {
    padding: 30px;
    display: flex;
    width: 100%;
    padding: 20px 40px;

}

#Navbar ul {
    display: flex;
    width: 100%;
    align-items: center;
}

#Navbar ul li {
    padding: 0px 90px;
    transition: 1s;

}

.iconMenu{
    display: none;
    margin: 30px;
    height: 40px;
}


#menubtn {
    display: none;
}
#louct{
    position: absolute;
    top: 80vh;
    left: 60%;
}

.main{
    position: relative;
    top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background: #fff;
    margin: 20px;
    text-align: center;
    font-size: 40px;
    line-height: 100px;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgba(150, 150, 150, .3);
    transition: all .3s ease-out;
}
.icon:hover{
    width: 290px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}
.icon:hover i{
    color: #fff;
}
.icon .fa-facebook-f{
    color: #1A6ED8;
}
.fb:hover{
    background: #1A6ED8;
}

.icon .fa-youtube{
    color: #FE0000;
}
.yt:hover{
    background: #FE0000;
}   

@media only screen and (min-width: 453px) and  (max-width: 900px) {
    #menubtn{
        display: block;
        padding: 20px 20px 20px 20px;
        direction: ltr;
    }
    .iconMenu{
        display: block;
    }
    #Navbar  {
        height: 69vh;
        display: none;
    }
    #Navbar.active {
        display: block;
    }
    #Navbar ul li {
        padding: 20px 0;
    }
    ul ,nav{
        flex-direction: column;
        align-items: center;
    }
    #HomeAbout{
        height: 190vh;
    }
    #Img{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 1vh;
        
    }
    #content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
    }
    #louct{
        position: absolute;
        top: 180vh;
        left: 40%;
    }
    #IMG-co{
        width: 480PX;
    }
    #contenuText{
        position: relative;
        bottom: 20vh;
    }
    .main{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .icon{
        height: 60px;
        width: 60px;
        line-height: 60px;
        justify-content: center;
        
    }

}

