@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;500;600;800&display=swap');

#IMG-co{
    width: 400PX;
}
/* Path: style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Changa', sans-serif;
}

.effectline:hover{
    border-radius: 10px;
    background-color: #4267B2;
    transition: 0.5s;

}

#HomeAbout {
    background-color: #212121;
    height: 86vh;
}

/* نتحكم بأيقونة بناف بار */
#Icon {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    height: 64px;
    width: 64px;
    border-radius: 30px;
}

li,
a {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 0 20px;
    transition: 0.5s;
}

#content {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
    
}

#IMG{
    width: 500PX;
}
#Title{
    text-align: center;
}

#Text{
    position: relative;
    top: 20vh;
}
/* نتحكم بناف بار */

#Navbar {
    background-color: #212121;
    height: 20vh;
    width: 100%;
    position: relative  ;
    display: flex;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    justify-content: center;
}

#Navbar nav {
    padding: 30px;
    display: flex;
    width: 100%;
    padding: 20px 40px;

}

#Navbar ul {
    display: flex;
    width: 100%;
    align-items: center;
}

#Navbar ul li {
    padding: 0px 90px;
    transition: 1s;

}

.iconMenu{
    display: none;
    margin: 30px;
    height: 40px;
}


#menubtn {
    display: none;
}
#louct{
    position: absolute;
    top: 80vh;
    left: 60%;
}

.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
    background: #ff0000;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #ff0000    ;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}

@media screen and (max-width: 600px) {
    #Title{
        position: relative;
        top:10vh;
    }
    #menubtn{
        display: block;
        padding: 20px 20px 20px 20px;
        direction: ltr;
    }
    .iconMenu{
        display: block;
    }
    #Navbar  {
        height: 69vh;
        display: none;
    }
    #Navbar.active {
        display: block;
    }
    #Navbar ul li {
        padding: 20px 0;
    }
    ul ,nav{
        flex-direction: column;
        align-items: center;
    }

    #Icon{
        position: relative;
        left: 3%;
    }
    .fromInput{
        position: relative;
        left: 6%;
    }
    #HomeAbout{
        height: 100%;
    }
    #content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
    }
    #Img{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 10vh;
        
    }
    #IMG{
        width: 70vh;
    }

    p{
        width: 100%;    
    }
    #HomeAbout
    {
        height: 200vh;
    }
    #louct{
        position: absolute;
        top: 160vh;
        left: 40%;
    }
    
}

/* @media screen and (max-width: 800px) {

    #menubtn{
        display: block;
        padding: 20px 20px 20px 20px;
        direction: ltr;
    }
    .iconMenu{
        display: block;
    }
    #Navbar  {
        height: 69vh;
        display: none;
    }
    #Navbar.active {
        display: block;
    }
    #Navbar ul li {
        padding: 20px 0;
    }
    ul ,nav{
        flex-direction: column;
        align-items: center;
    }
    #HomeAbout{
        height: 150vh;
    }
    #Img{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 10vh;
        
    }
    #content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
    }
    #louct{
        position: absolute;
        top: 180vh;
        left: 40%;
    } */
}